
@font-face {
    font-family: 'BlackForest';
    src: url(https://github.com/node777/opn_src/raw/main/BlackForest.ttf);
  }
@font-face {
    font-family: 'FreePixel';
    src: url(https://github.com/node777/opn_src/raw/main/FreePixel.ttf);
  }